body {
  background-color: #AB6820;
}

header {
  background: url(https://media.discordapp.net/attachments/841946219156733952/1125787653481185353/image.png?width=1284&height=369);
  width: 850px;
  height: 240px;
  position: absolute;
  left: 17%;
}

header h1 {
  display: inline;
  font-size: 300%;
  font-family: Georgia, "Times New Roman", Times, serif;
  color: #FFCB92;
  position: relative;
  top: 30%;
  left: 40%;
}

ul {
  position: relative;
  top: 250px;
  margin: -32px;
}

ul li {
  background: #CF8A3F;
  padding: 5px;
  border: solid 2px #FFDFBC;
  display: inline-block;
  width: 195.5px;
  height: 30px;
}

ul li a {
  color: #FFDFBC;
  text-decoration: none;
  font-size: 20px;
  position: relative;
  top: 15%;
  left: 10px;
}

ul li a:hover {
  color: #FFCB92;
}

.wrapper {
  margin: 0 auto 0 auto;
  width: 860px;
}
